* {
    font-family: "Maple Mono";
    font-size: 18px;
    background-image: none;
    box-shadow: none;
}

window {
    background-color: rgba(0, 0, 0, 0.85);
}

button {
    color: #dcdcdc;
    background-color: #111111;
    border: 2px solid #333333;
    border-radius: 0;
    margin: 12px;
}

button:hover,
button: focus {
    color: #000000;
    background-color: #7faa55;
    border-color: #7faa55;
}
