* {
    font-family: "Maple Mono";
    font-size: 18px;
    background-image: none;
    box-shadow: none;
}

window {
    background-color: rgba(0, 0, 0, 0.95);
}

button {
    color: #ffffff;
    background-color: #000000;
    border: 2px solid #ffffff;
    border-radius: 0;
    margin: 10px;
    font-family: "Maple Mono";
    font-size: 18px;
}

button:hover,
button: focus {
    color: #000000;
    background-color: #ffffff;
}
